<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="weerstationsUrl" value="https://localhost:44326/api/Weerstations"/>
    <add key="weerberichtenUrl" value="https://localhost:44326/api/Weerberichten"/>
    <add key="buienradarUrl" value="https://data.buienradar.nl/1.1/feed/json"/>
    <add key="consoleUsername" value="externalConsoleApp"/>
    <add key="consolePassword" value="externalConsoleAppPassword"/>
  </appSettings>
</configuration>