<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="weerstationsUrl" value="https://localhost:444/api/Weerstations/list"/> <!-- port in dev: 44326. port in .exe: zelf ingesteld, kijk bij IIS -->
    <add key="weerberichtenUrl" value="https://localhost:444/api/Weerberichten/list"/>
    <add key="consoleUsername" value="externalConsoleApp"/>
    <add key="consolePassword" value="externalConsoleAppPassword"/>
  </appSettings>
</configuration>