<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- port in dev: 44326. port in .exe: zelf ingesteld, kijk bij IIS - waarschijnlijk 444 -->
    <add key="weerstationsUrl" value="https://localhost:444/api/Weerstations"/>
    <add key="weerberichtenUrl" value="https://localhost:444/api/Weerberichten"/>
  </appSettings>
</configuration>